{% extends "layout.html" %}

{% block title %}
{{_('Login')}}
{% endblock %}

{% block body %}

<h2>{{_('Log in')}}</h2>
<form action="/login" method="POST">
    <label for="username">{{_('Username')}}:</label>
    <input type="text" name="username"><br>
    <label for="password">{{_('Password')}}:</label>
    <input type="password" name="password"><br>
    <p>{{ message }}</p>
    <input type="submit" value="{{_('Log in')}}">
</form>
<p><a href="/signup">{{_('Sign up!')}}</a></p>

{% endblock %}
