{% extends "layout.html" %}

{% block title %}
{{_('Login')}}
{% endblock %}

{% block body %}

<h1>{{_('Welcome to PushBib!')}}</h1>

<body>
    <h2>{{_('Login')}}</h2>
    <form action="/login" method="POST">
    <p>{{_('Username')}}:</p>
    <input type="text" name="username">
    <p>{{_('Password')}}:</p>
    <input type="password" name="password">
    <p>{{ message }}</p>
    <input type="submit" value="{{_('Login')}}"">
    </form>
    <p><a href="/signup">{{_('Create new user')}}</a></p>
</body>

{% endblock %}
