{% extends "layout.html" %}

{% block title %}
Your references
{% endblock %}

{% block body %}

<h2>Add new references</h2>

<form action="/references/add/{{user}}" method="POST">
  <input type="text" placeholder="Author(s)" name="authors" style="width: 300px;" required />
  <br>
  <input type="text" placeholder="Title" name="title" style="width: 300px;" required />
  <br>
  <input type="text" placeholder="Publishing year" name="year" style="width: 300px;" required />
  <br>
  <input type="text" placeholder="Publisher" name="publisher" style="width: 300px;" required />
  <br>
  <button>Add new book</button>
</form>

<h2>Your references:</h2>

<form action="/references/{{user}}" method="GET">
<!-- change to accommodate all types of references, not just books -->
  {% for reference in references %}
    Author(s): {{ reference[0] }}<br>
    Title: {{ reference[1] }}<br>
    Year: {{ reference[2] }}<br>
    Publisher: {{ reference[3] }}<br>
    <p></p>
  {% endfor %}
</form>

{% endblock %}