<script>
  window.onload = function() {


  let handleAddAuthorField = function (e) {
    regex = '^(.*?)\-'
    console.log(e.target.id)
    clickedFrom = e.target.id.match(regex)[1]
    console.log(clickedFrom)
    let allAuthorsFieldWrapper = document.getElementById(clickedFrom.concat('_authors_container'));
      e.preventDefault()  
      console.log(allAuthorsFieldWrapper)
          let allAuthorsField = allAuthorsFieldWrapper.getElementsByTagName('input');
          if(allAuthorsField.length > 5) {
              alert('You can  have only six authors name');
              return;
          }
          let authorInputIds = []
          for(let i = 0; i < allAuthorsField.length; i++) {
              authorInputIds.push(parseInt(allAuthorsField[i].name.split('-')[1]));
          }
          let newFieldName = `author-${Math.max(...authorInputIds) + 1}`;
          allAuthorsFieldWrapper.insertAdjacentHTML('beforeend',`
          <li><input id="${newFieldName}" name="${newFieldName}" type="text" placeholder = "Last name, first name"></li>
          `);
     
  }

      let bookForm = document.getElementById('book_form')
      let articleForm = document.getElementById('article_form')
      let inproceedingsForm = document.getElementById('inproceeding_form')

      /// control the adding of new authors
      let addAuthorFieldButtons = document.getElementsByClassName('add-author-field');
      console.log(addAuthorFieldButtons)
      Array.from(addAuthorFieldButtons).forEach(element => {
        console.log(element)
        element.addEventListener('click', handleAddAuthorField)
      });
     
      /// control which form is shown
      let changeFormTypeBtn = document.getElementById('type')
      console.log(changeFormTypeBtn)
      changeFormTypeBtn.addEventListener('change', function(e){
        e.preventDefault();
        let formType = changeFormTypeBtn.options[changeFormTypeBtn.selectedIndex].value
        console.log(formType)
        if (formType == 'book') {
          bookForm.style.display = 'inline'
          articleForm.style.display = 'none'
          inproceedingsForm.style.display = 'none'
        } else if (formType == 'article') {
          bookForm.style.display = 'none'
          articleForm.style.display = 'inline'
          inproceedingsForm.style.display = 'none'
        } else if (formType == 'inproceeding') {
          bookForm.style.display = 'none'
          articleForm.style.display = 'none'
          inproceedingsForm.style.display = 'inline'
        }
      })
  }
</script>

{% extends "layout.html" %}

{% block title %}
Your references
{% endblock %}

{% block body %}
<p><a href="/signout">Sign out</a></p>

<select name = 'type' id = 'type'>
  <option value = 'book'>book</option>
  <option value = 'article'>article</option>
  <option value = 'inproceeding'>inproceeding</option>
</select>


<form method = 'POST' action = '/references/book/' id = 'book_form', style="display: inline;">
 <br>
  <label for = 'authors'>Authors</label><br>
  <div id = 'book_authors_container'><br>
    <li><input type = 'text', id = 'author-0' name = 'author-0' placeholder="Last name, first name" required><br></li>
  </div>
  <button id = 'book-add-author-field' class = 'add-author-field'>Add new author</button><br>
  <label for = 'title'>Title</label>
  <input type = 'text', id = 'title' name = 'title' required><br>
  <label for = 'year'>Year</label>
  <input type = 'text', id = 'year', name = 'year' required><br>
  <label for = 'publisher'>Publisher</label>
  <input type = 'text' id = 'publisher', name = 'publisher' required><br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<button id = 'submit-form' type="submit">Add reference</button>
</form>

<form action="/references/article/" method="post" id = 'article_form' style="display:none">
  <label for = 'authors'>Authors</label><br>
  <div id = 'article_authors_container'><br>
    <li><input type = 'text', id = 'author-0' name = 'author-0' placeholder="Last name, first name" required><br></li>
  </div>
  <button id = 'article-add-author-field' class = 'add-author-field'>Add new author</button><br>
  <label for="title">Title</label>
  <input type="text" class="form-control" name="title" required>
  <br>
  <label for="journal">Journal</label>
  <input type="text" class="form-control" name="journal" required>
  <br>
  <label for="year">Year</label>
  <input type="text" class="form-control" name="year" required>
  <br>
  <label for="volume">Volume</label>
  <input type="text" class="form-control" name="volume" required>
  <br>
  <label for="pages">Pages</label>
  <input type="text" class="form-control" name="pages" required>
  <p></p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button type="submit" id = 'submit-form'>Add reference</button>
</form>

<form action="/references/inproceeding/" method="post" id = 'inproceeding_form' style = 'display:none'>
  <label for="authors">Author</label>
  <div id = 'inproceeding_authors_container'><br>
    <li><input type = 'text', id = 'author-0' name = 'author-0' placeholder="Last name, first name" required><br></li>
  </div>
  <button id = 'inproceeding-add-author-field' class = 'add-author-field'>Add new author</button><br>
  <label for="title">Title</label>
  <input type="text" class="form-control" name="title" required>
  <br>
  <label for="year">Year</label>
  <input type="text" class="form-control" name="year" required>
  <br>
  <label for="booktitle">Booktitle</label>
  <input type="text" class="form-control" name="booktitle" required>
  <p></p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button type="submit" id = 'submit-form'>Add reference</button>
</form>

<div class="grid-child center">
{% if books or articles or inproceedings %}
<h2>Your references:</h2>
<form action="/references/download">
  <input type="submit" class="download" id="download" value="Download all references as .bib"></input>
</form>
<p></p>

<form action="/references/" method="get">
  {% for book in books %}
    Author(s): {{ book[0] }}<br>
    Title: {{ book[1] }}<br>
    Year: {{ book[2] }}<br>
    Publisher: {{ book[3] }}<br>
    <p></p>
  {% endfor %}

  {% for article in articles %}
    Author(s): {{ article[0] }}<br>
    Title: {{ article[1] }}<br>
    Journal: {{ article[2] }}<br>
    Year: {{ article[3] }}<br>
    Volume: {{ article[4] }}<br>
    Pages: {{ article[5] }}<br>   
    <p></p>
  {% endfor %}

  {% for inproceeding in inproceedings %}
    Author(s): {{ inproceeding[0] }}<br>
    Title: {{ inproceeding[1] }}<br>
    Year: {{ inproceeding[2] }}<br>
    Booktitle: {{ inproceeding[3] }}<br>
    <p></p>
  {% endfor %}
</form>

{% else %}
<h2>No references yet!</h2>
{% endif %}
</div>

{% endblock %}