{% extends "layout.html" %}

{% block title %}
Signup
{% endblock %}

{% block body %}

<h1>Create new user</h1>

<body>
    <form action="/signup" method="post">
        <p>
            Username:
        </p>
        <input type="text" name="username" required minlength="5">
        <p>
            Password:
        </p>
        <input type="password" name="password" required minlength="8">
        <p>
            Confirm password:
        </p>
        <input type="password" name="password_again" required minlength="8">
        <p>
            {{ message }}
        </p>
        <input type="submit" value="Register" name="Register">
    </form>
    <p>
        <a href="/">Already have an account? Log in</a>
    </p>
</body>

{% endblock %}