{% extends "layout.html" %}

{% block title %}
{{_('Signup')}}
{% endblock %}

{% block body %}

<h2>{{_('Sign up')}}</h2>
<form action="/signup" method="post">
    <label for="username">{{_('Username')}}:</label>
    <input type="text" name="username" required minlength="5"><br>
    <label for="password">{{_('Password')}}:</label>
    <input type="password" name="password" required minlength="8"><br>
    <label for="password_again">{{_('Confirm password')}}:</label>
    <input type="password" name="password_again" required minlength="8"><br>
    <p>{{ message }}</p>
    <input type="submit" value="{{_('Sign up')}}" name="Register">
</form>
<p><a href="/">{{_('Log in!')}}</a></p>

{% endblock %}