.hide {
    display: none;
  }

label {
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  text-align: left;
  }

.download {
  color: white;
  text-align: center;
  background-color: green;
  border-radius: 5px;
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  }

.language {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.language li {
  display: inline;
  font-size: 20px;
}

.language a:link, a:visited{
  color:blue;
}